{% extends 'crm/base.html' %}
{% block content %}
{% load bootstrap %}
<button class="btn btn-s btn-info" data-toggle="collapse" data-target="#hide-me">Change contact</button>
{% if contact.client %}
<a href="{% url 'crm:client' contact.client.id%}" class="btn btn-s btn-info">{{ "Go to client" }}</a>
{% endif %}
<!-- Форма для удаления контакта -->
<form  method="post">
  {% csrf_token %}
  <input id="action_id" type="hidden" name="action" value="Delete">
  <input type="submit" value="Delete" class="btn btn-s btn-danger" onclick="return confirm('Are you sure?')"/>
</form>
<div id="hide-me" class="collapse">
  <!-- Форма для изменения контакта -->
  <br>
  <form method="post" class="form-horizontal">
    {% csrf_token %}
    {{ form|bootstrap_horizontal }}
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-2">
        <input type="submit" value="Save changes" class="btn btn-s btn-success">
      </div>
    </div>
  </form>
</div>
<br>
<h3>Contact</h3>
<blockquote>
  {{contact.str_with_html|safe|linebreaks}}
</blockquote>
{% endblock content %}